# Box Office Movie Franchise Predictor - Cleaning

Before embarking on this, a lot of time was spent searching for these movies. Because the number of movies that belong in a sequel fashion is limited, the scope of the study also includes movies that belong to a franchise and universe. A franchise example is James Bond and one that belongs to a universe is the Marvel Cinematic Universe (MCU). 

The time sinks in gathering and cleaning the data were:

1. Release Dates - Some formats were incomplete and had to be researched in either IMDB and cross-referenced with Wikipedia


2. Budgets & Currency - Missing budgets and foreign currency had to be converted accordingly to USD based on the rough exchange rate on the day of release

## Import Libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## Load Data File(s)

In [2]:
data_path = './data/'
file_name = 'movies_with_sequels_final.csv'

df = pd.read_csv(data_path + file_name)

## Data Wrangling & Cleaning

In [14]:
df.head(6)

,Title,url,IMDB Score,Metacritic,Runtime (mins),Budget,Opening Weekend,Gross USA,Gross World,Release Date,Rating,Genres,Country
0,Spider-Man (2002),http://www.imdb.com/title/tt0145487/,7.3,73.0,121,139000000.0,114844116.0,407022860.0,825025036.0,2002-05-03,PG-13,Action Adventure Sci-Fi,USA
1,Spider-Man 2 (2004),http://www.imdb.com/title/tt0316654/,7.3,83.0,127,200000000.0,88156227.0,373585825.0,788976453.0,2004-06-30,PG-13,Action Adventure Sci-Fi,USA
2,The Matrix (1999),http://www.imdb.com/title/tt0133093/,8.7,73.0,136,63000000.0,27788331.0,171479930.0,465343787.0,1999-03-31,R,Action Sci-Fi,USA
3,The Matrix Reloaded (2003),http://www.imdb.com/title/tt0234215/,7.2,62.0,138,150000000.0,91774413.0,281576461.0,741846459.0,2003-05-15,R,Action Sci-Fi,USA
4,The Lord of the Rings: The Fellowship of the R...,http://www.imdb.com/title/tt0120737/,8.8,92.0,178,93000000.0,47211490.0,315544750.0,887832826.0,2001-12-19,PG-13,Action Adventure Drama,New Zealand
5,The Lord of the Rings: The Two Towers (2002),http://www.imdb.com/title/tt0167261/,8.7,87.0,179,94000000.0,62007528.0,342551365.0,951208089.0,2002-12-18,PG-13,Adventure Drama Fantasy,New Zealand

### A Note about the Dataset

One very important note on how the csv file is arranged. The entire dataset as one can see from the above, i.e. an original movie or first movie and its corresponding sequel is arranged such that 

1. Movie 1
2. Sequel of Movie 1
3. Another film
4. Sequel of Another Film
5. ...
6. ...

The first 6 rows of the Pandas data frame (above), the movie is arranged as discussed. However, there was a Spider-Man 3 but it is not included here, i.e. index 2. The structure here has to be in even numbers and trilogies are not considered here for the time being. If the dataset is to be absent of leaky variables, the structure of observations must be in even numbers. That way, after cleaning, we can collect every other row as a target without the fear of a leaky variable.

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1080 entries, 0 to 1079
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Title            1080 non-null   object
 1   url              1080 non-null   object
 2   IMDB Score       1080 non-null   float64
 3   Metacritic       975 non-null    float64
 4   Runtime (mins)   1080 non-null   int64
 5   Budget           1080 non-null   object
 6   Opening Weekend  953 non-null    object
 7   Gross USA        1006 non-null   object
 8   Gross World      1080 non-null   object
 9   Release Date     1080 non-null   object
 10  Rating           1080 non-null   object
 11  Genres           1080 non-null   object
 12  Country          1080 non-null   object
dtypes: float64(2), int64(1), object(10)
memory usage: 109.8+ KB

From the info table above, there are no missing values. This is incorrect. There are missing values but are stated as 'None' in their respective columns and that is why an entire column gets converted to an object. This was done initially in the webscrapping portion of the work. It has been corrected to be replaced with np.nan. Nonetheless, the change will be made here.

### Replace 'None' with NaN

In [5]:
def replace_none_w_nan(data_frame):
    
    column_names = list(data_frame.columns)
    
    for col in column_names:
        data_frame[col].replace('None',np.nan, inplace=True)
        
    return data_frame

In [6]:
df = replace_none_w_nan(df)

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1080 entries, 0 to 1079
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Title            1080 non-null   object
 1   url              1080 non-null   object
 2   IMDB Score       1080 non-null   float64
 3   Metacritic       975 non-null    float64
 4   Runtime (mins)   1080 non-null   int64
 5   Budget           1080 non-null   object
 6   Opening Weekend  953 non-null    object
 7   Gross USA        1006 non-null   object
 8   Gross World      1080 non-null   object
 9   Release Date     1080 non-null   object
 10  Rating           1080 non-null   object
 11  Genres           1080 non-null   object
 12  Country          1080 non-null   object
dtypes: float64(2), int64(1), object(10)
memory usage: 109.8+ KB

This is much better. There are two missing budget entries which can be fixed. Too many missing values for

- Metacritic Score
- Opening Weekend
- Gross USA

First let's drop the Opening Weekend and Gross USA columns as there is too much variability in those. The Opening Weekend metric was not really tallied only until the late 90's. Let's see what we can do with the Metacritic and two missing Budgets. The missing budgets are from the movies Homeward Bound 1 and 2. But first, we need to clean them.

### Clean-Up Budget

In [7]:
def money_to_float(money_str):
    
    money_str = str(money_str)
    money_str = money_str.strip()
    
    return float(money_str.replace('$','').replace(',',''))

In [8]:
# Clean money and convert to float
df['Budget'] = df['Budget'].apply(money_to_float)
df['Opening Weekend'] = df['Opening Weekend'].apply(money_to_float)
df['Gross USA'] = df['Gross USA'].apply(money_to_float)
df['Gross World'] = df['Gross World'].apply(money_to_float)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1080 entries, 0 to 1079
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Title            1080 non-null   object
 1   url              1080 non-null   object
 2   IMDB Score       1080 non-null   float64
 3   Metacritic       975 non-null    float64
 4   Runtime (mins)   1080 non-null   int64
 5   Budget           1080 non-null   float64
 6   Opening Weekend  953 non-null    float64
 7   Gross USA        1006 non-null   float64
 8   Gross World      1080 non-null   float64
 9   Release Date     1080 non-null   object
 10  Rating           1080 non-null   object
 11  Genres           1080 non-null   object
 12  Country          1080 non-null   object
dtypes: float64(6), int64(1), object(6)
memory usage: 109.8+ KB

### Clean Release Dates

In [10]:
# Convert Release Date to proper date
df['Release Date'] = pd.to_datetime(df['Release Date'],format='%d-%b-%y')

In [13]:
df.head(6)

,Title,url,IMDB Score,Metacritic,Runtime (mins),Budget,Opening Weekend,Gross USA,Gross World,Release Date,Rating,Genres,Country
0,Spider-Man (2002),http://www.imdb.com/title/tt0145487/,7.3,73.0,121,139000000.0,114844116.0,407022860.0,825025036.0,2002-05-03,PG-13,Action Adventure Sci-Fi,USA
1,Spider-Man 2 (2004),http://www.imdb.com/title/tt0316654/,7.3,83.0,127,200000000.0,88156227.0,373585825.0,788976453.0,2004-06-30,PG-13,Action Adventure Sci-Fi,USA
2,The Matrix (1999),http://www.imdb.com/title/tt0133093/,8.7,73.0,136,63000000.0,27788331.0,171479930.0,465343787.0,1999-03-31,R,Action Sci-Fi,USA
3,The Matrix Reloaded (2003),http://www.imdb.com/title/tt0234215/,7.2,62.0,138,150000000.0,91774413.0,281576461.0,741846459.0,2003-05-15,R,Action Sci-Fi,USA
4,The Lord of the Rings: The Fellowship of the R...,http://www.imdb.com/title/tt0120737/,8.8,92.0,178,93000000.0,47211490.0,315544750.0,887832826.0,2001-12-19,PG-13,Action Adventure Drama,New Zealand
5,The Lord of the Rings: The Two Towers (2002),http://www.imdb.com/title/tt0167261/,8.7,87.0,179,94000000.0,62007528.0,342551365.0,951208089.0,2002-12-18,PG-13,Adventure Drama Fantasy,New Zealand

### Write to a New File

In [17]:
# Dump to new csv
file_name_cleaned = 'movies_with_sequels_final_cleaned.csv'

df.to_csv(data_path + file_name_cleaned, index=False)

## Splitting the Dataset to 'Original' and 'Sequel'

In [15]:
# Dump original and sequel
df_original = df[df.index % 2 == 0]  # Excludes every 3rd row starting from 0
df_sequel   = df[df.index % 2 != 0]  # Selects every 3rd raw starting from 0

In [18]:
df_original.head()

,Title,url,IMDB Score,Metacritic,Runtime (mins),Budget,Opening Weekend,Gross USA,Gross World,Release Date,Rating,Genres,Country
0,Spider-Man (2002),http://www.imdb.com/title/tt0145487/,7.3,73.0,121,139000000.0,114844116.0,407022860.0,8.250250e+08,2002-05-03,PG-13,Action Adventure Sci-Fi,USA
2,The Matrix (1999),http://www.imdb.com/title/tt0133093/,8.7,73.0,136,63000000.0,27788331.0,171479930.0,4.653438e+08,1999-03-31,R,Action Sci-Fi,USA
4,The Lord of the Rings: The Fellowship of the R...,http://www.imdb.com/title/tt0120737/,8.8,92.0,178,93000000.0,47211490.0,315544750.0,8.878328e+08,2001-12-19,PG-13,Action Adventure Drama,New Zealand
6,The Lord of the Rings: The Return of the King ...,http://www.imdb.com/title/tt0167260/,8.9,94.0,201,94000000.0,72629713.0,377845905.0,1.142219e+09,2003-12-17,PG-13,Adventure Drama Fantasy,New Zealand
8,The Hobbit: The Desolation of Smaug (2013),http://www.imdb.com/title/tt1170358/,7.8,66.0,161,225000000.0,73645197.0,258366855.0,9.583669e+08,2013-12-13,PG-13,Adventure Fantasy,New Zealand

In [19]:
df_sequel.head()

,Title,url,IMDB Score,Metacritic,Runtime (mins),Budget,Opening Weekend,Gross USA,Gross World,Release Date,Rating,Genres,Country
1,Spider-Man 2 (2004),http://www.imdb.com/title/tt0316654/,7.3,83.0,127,200000000.0,88156227.0,373585825.0,7.889765e+08,2004-06-30,PG-13,Action Adventure Sci-Fi,USA
3,The Matrix Reloaded (2003),http://www.imdb.com/title/tt0234215/,7.2,62.0,138,150000000.0,91774413.0,281576461.0,7.418465e+08,2003-05-15,R,Action Sci-Fi,USA
5,The Lord of the Rings: The Two Towers (2002),http://www.imdb.com/title/tt0167261/,8.7,87.0,179,94000000.0,62007528.0,342551365.0,9.512081e+08,2002-12-18,PG-13,Adventure Drama Fantasy,New Zealand
7,The Hobbit: An Unexpected Journey (2012),http://www.imdb.com/title/tt0903624/,7.8,58.0,169,180000000.0,84617303.0,303003568.0,1.017004e+09,2012-12-14,PG-13,Adventure Family Fantasy,New Zealand
9,The Hobbit: The Battle of the Five Armies (2014),http://www.imdb.com/title/tt2310332/,7.4,59.0,144,250000000.0,54724334.0,255119788.0,9.560198e+08,2014-12-17,PG-13,Adventure Fantasy,New Zealand

In [21]:
# Dump to new files
file_name_cleaned_org = 'movies_with_originals_only_final_cleaned.csv'
file_name_cleaned_seq = 'movies_with_sequels_only_final_cleaned.csv'

df_original.to_csv(data_path + file_name_cleaned_org)
df_sequel.to_csv(data_path + file_name_cleaned_seq)

In [22]:
df_original.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 540 entries, 0 to 1078
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Title            540 non-null    object
 1   url              540 non-null    object
 2   IMDB Score       540 non-null    float64
 3   Metacritic       506 non-null    float64
 4   Runtime (mins)   540 non-null    int64
 5   Budget           540 non-null    float64
 6   Opening Weekend  475 non-null    float64
 7   Gross USA        509 non-null    float64
 8   Gross World      540 non-null    float64
 9   Release Date     540 non-null    datetime64[ns]
 10  Rating           540 non-null    object
 11  Genres           540 non-null    object
 12  Country          540 non-null    object
dtypes: datetime64[ns](1), float64(6), int64(1), object(5)
memory usage: 59.1+ KB

In [23]:
df_sequel.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 540 entries, 1 to 1079
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Title            540 non-null    object
 1   url              540 non-null    object
 2   IMDB Score       540 non-null    float64
 3   Metacritic       469 non-null    float64
 4   Runtime (mins)   540 non-null    int64
 5   Budget           540 non-null    float64
 6   Opening Weekend  478 non-null    float64
 7   Gross USA        497 non-null    float64
 8   Gross World      540 non-null    float64
 9   Release Date     540 non-null    datetime64[ns]
 10  Rating           540 non-null    object
 11  Genres           540 non-null    object
 12  Country          540 non-null    object
dtypes: datetime64[ns](1), float64(6), int64(1), object(5)
memory usage: 59.1+ KB